#PanelDiv {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 1em;
    margin: 0 1em;
    width: 100%;
    border: 1px solid black;
    gap: 1em;
    background-color: #ece0d5;
}

.PanelTitle input {
    background-color: transparent;
    border: none;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

.PanelTitle input:enabled {
    background-color: transparent;
}

.PanelTitle input::placeholder {
    color: black;    
}

.PanelTitle input:focus {
    outline-style: groove;
}

#PanelTitleDiv {
    display: inline-flex;
    justify-content: space-between;
}

#PanelTitleDiv

.PanelCloseButton {
    width: 1em;
    height: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
}

.PanelCloseButton span:hover {
    cursor: pointer;
}

.AddTaskButton {
    display: inline-flex;
    justify-content: right;
    font-size: 1.5em;
}

.AddTaskButton span:hover {
    cursor: pointer;
}

#dropzone {
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

/* https://coolors.co/4f7cac-c0e0de-162521-3c474b-ece0d5 */