/* Main Div */
#PanelDiv {
    display: inline-flex;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    margin: 0 1em;
    width: 100%;
    border: 1px solid black;
    gap: 1em;
    background-color: #b4b7a4;
    height: fit-content;
    border-radius: 1em;
}

/* Panel Title */
#PanelTitleDiv {
    display: inline-flex;
    justify-content: space-between;
}

.PanelTitle input {
    background-color: transparent;
    border: none;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

.PanelTitle input:enabled {
    background-color: transparent;
}

.PanelTitle input::placeholder {
    color: black;    
}

.PanelTitle input:focus {
    outline-style: groove;
}

/* Close Button */
.PanelCloseButton {
    width: 1em;
    height: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
}

.PanelCloseButton span:hover {
    cursor: pointer;
}

/* Add Task Button */
.AddTaskButton {
    display: inline-flex;
    justify-content: right;
    font-size: 1.5em;
}

.AddTaskButton span:hover {
    cursor: pointer;
}

/* New Task Form */
#NewTaskInputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#NewTaskInputDiv form {
    width: 100%;
    padding: 1em;
    display: inline-flex;
    flex-direction: column;
    box-sizing: border-box;
}

#NewTaskInputDiv #titleInput {
    width: 100%;
}

#NewTaskInputDiv #submitButton {
    width: 5em;
}

#NewTaskInputDiv textarea {
    width: 100%;
    resize: none;
}

/* https://coolors.co/4f7cac-c0e0de-162521-3c474b-ece0d5 */