#TaskDiv {
    border: 1px solid black;
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.5s, width 0.5s;
}

/* user-select partially fixes issue #28 but you can only
    use double click to select and not drag select.
*/
#TaskDiv p {
    user-select: text;
}

#TaskDiv h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#TaskOuterDiv {
    padding-left: 5px;
    padding-right: 5px;
    /*transition: padding-top 0.5s, padding-bottom 0.5s;*/
}

#TaskDiv:hover {
    box-shadow: -2px 2px #162521;
    width: 100%;
}

#TaskTitle {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
    padding: 1em 1em 0.5em 1em;
    box-sizing: border-box;
    background-color: #d3efbd;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.TaskCloseButton {
    width: 1em;
    height: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
}

.TaskCloseButton:hover {
    cursor: pointer;
}

#TaskContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1em;
    box-sizing: border-box;
    background-color: #e0e2db;
}

#TaskCheckoffButton {
    display: inline-flex;
    justify-content: right;
    width: 100%;
    padding: 0 1em 1em 1em;
    box-sizing: border-box;
    background-color: #e0e2db;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

#TaskCheckoffButton span {
    font-size: large;
    font-weight: bold;
    margin: 0;
}

#TaskCheckoffButton span:hover {
    cursor: pointer;
}

#TaskContentForm {
    width: 100%;
    padding-top: 1em;
}

#TaskContentForm textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    background-color: transparent;
    border: none;
}

.taskDescriptionTextarea:focus {
    outline-style: groove;
}

#TaskTitleForm{
    width: 100%;
}

#TaskTitleInput {
    background-color: transparent;
    border: none;
    font-size: larger;
    font-weight: bold;
    size: '';
    width: 100%;
}

#TaskTitleInput:focus {
    outline-style: none;
}


/* https://coolors.co/4f7cac-c0e0de-162521-3c474b-ece0d5 */