#TaskDiv {
    border: 1px solid black;
    padding: 1em;
    background-color: #c0e0de;
    border-radius: 1em;
    width: 100%;
    box-sizing: border-box;
    transition: box-shadow 0.5s, width 0.5s;
}

/* user-select partially fixes issue #28 but you can only
    use double click to select and not drag select.
*/
#TaskDiv p {
    user-select: text;
}

#TaskDiv h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

#TaskOuterDiv {
    padding-left: 5px;
    padding-right: 5px;
    /*transition: padding-top 0.5s, padding-bottom 0.5s;*/
}

#TaskDiv:hover {
    box-shadow: -2px 2px #162521;
    width: 100%;
}

#TaskTitle {
    display: inline-flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.TaskCloseButton {
    width: 1em;
    height: 1em;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 1em;
    font-weight: bold;
    font-size: large;
}

.TaskCloseButton:hover {
    cursor: pointer;
}

#TaskContent {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

#TaskCheckoffButton {
    margin: auto 0 0 auto;
    font-size: large;
    font-weight: bold;
}

#TaskCheckoffButton:hover {
    cursor: pointer;
}


/* https://coolors.co/4f7cac-c0e0de-162521-3c474b-ece0d5 */