#Board {
    width: 100%;
}

/* Main Content */
#ContentDiv {
    display: inline-flex;
    width: 100%;
    margin: 1em 0;
}

/* Panels */
.Panels {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

