.App {
  text-align: center;
}

html {
  background-color: #D0CCD0;
}
/**/
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Button Visual Style */
button {
    background-color: #1C6E8C;
    color: #FBFCFF;
    font-size: 20px;
    border: none;
    width: 2em;
    height: 2em;
}

/* Palette colors:
https://coolors.co/4f7cac-c0e0de-162521-3c474b-ece0d5
*/