.App {
  text-align: center;
}

html {
  background-color: #2e3532;
}
/**/
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

/* Button Visual Style */
button {
    background-color: #1C6E8C;
    color: #FBFCFF;
    font-size: 20px;
    border: none;
    width: 2em;
    height: 2em;
}

/* 
    Color Pallets to Test Out
    https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f
    https://coolors.co/546a76-88a0a8-b4ceb3-dbd3c9-fad4d8
    https://coolors.co/edd3c4-c8adc0-7765e3-3b60e4-080708
    https://coolors.co/d8ddef-a0a4b8-7293a0-45b69c-21d19f
    https://coolors.co/2e3532-8b2635-e0e2db-d2d4c8-d3efbd
*/