/* Main Div */
#SidebarDiv {
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
}

/* List Items */
.sidebarItem {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: left;
    align-content: center;
    align-items: center;
    height: 3em;
    color: white;
    background-color: #2e3532;
}

.sidebarItem span {
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
}

.sidebarItem span:hover {
    cursor: pointer;
}

/* Add Pannel Button */
#AddPanelButton {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 3em;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
}

#AddPanelButton span {
    font-size: 2.5em;
    color: white;
}

#AddPanelButton span:hover {
    cursor: pointer;
}