/* Main Div */
#SidebarDiv {
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
}

/* List Items */
.sidebarItem {
    box-sizing: border-box;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 3em;
    color: #e0e2db;
    background-color: #2e3532;
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.sidebarEntryTitle {
    font-size: 2em;
    transition: all 0.25s;
}

.sidebarEntryTitle:hover {
    cursor: pointer;
    color: #d3efbd;
    font-size: 2.2em;
}

/* Add Pannel Button */
#AddPanelButton {
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 3em;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
}

#AddPanelButton span {
    font-size: 2.5em;
    color: white;
}

#AddPanelButton span:hover {
    cursor: pointer;
}

.deleteBoardButton {
    margin-top: 0.5em;
    margin-bottom: auto;
}

.deleteBoardButton:hover {
    cursor: pointer;
    color: red;
}

.sidebarTitle span {
    font-size: 2em;
    font-weight: bold;
}